* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: 0;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Poppins', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Tilt Neon', sans-serif;
    transition: all .5s ease-in-out;
}


:root {
    --orange: rgb(211, 131, 12);

    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
}

a {
    color: inherit;
}

body,
html,
.main {
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}


.logo {
    font-size: 14pt;
    width: 100%;
    z-index: 1005;
}

ul {
    height: 100%;
}

ul li {
    cursor: pointer;
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: white;
    width: 100%;
    height: 60px;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 3fr 1fr;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

.header .menu {
    width: 100%;
    height: 100%;
}


.header .logo {
    text-align: center;
}

.header .logo span {
    color: var(--orange);
}

.header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.header nav ul .menu-toggle {
    cursor: pointer;
    width: 70px;
    height: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}

.header nav ul .menu-toggle div {
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: black;
}

.header nav ul li,
.header nav ul li a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.animation-toggle-menu{
    position: relative;
}

.animation-toggle-menu > div{
    position: absolute;
}

.animation-toggle-menu div:nth-child(1),
.animation-toggle-menu div:nth-child(2)
{
    top:50%;
    transform: rotate(-45deg)
}

.animation-toggle-menu div:nth-child(3)
{
    top:50%;
    transform: rotate(45deg)
}






@media (max-width: 850px) {
    .header {
        align-items: center;
        justify-content: space-evenly;
        grid-template-columns: 1fr 1fr;
        box-shadow: var(--box-shadow);
        overflow: hidden;
    }

    .header .container-menu{
        width:100%;
    }

    .header .logo{
        text-align: left;
        padding-left: 10px;
    }
    
    .header .container-menu ul{
        width:100%;
    }
    

    .header ul{
        all:initial;
    }

    .header nav ul {
        gap: 0px;
    }



    .header .menu{
        box-shadow: var(--box-shadow);
        background-color: white;
        height: 100%;
        width: 100px;
        z-index: 1005;
        right: 0;
        top: 0;
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .header .menu .menu-links{
        
        display: flex;
        flex-direction: column
    }

    .header .menu-toggle{
        position: inherit;
        z-index: 1006;
        right: 0px;
    }
/*
    .header .menu {
        display: none;
    }
*/
}

@media (min-width: 850px){
    .header nav ul .menu-toggle{
        display: none;
    }
    
}

/*               section home                  */

.home {
    margin: 40px;
}